@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

input[type="checkbox"] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin: 1rem;
}

@layer base {
    .nav-list {
        @apply p-4
    }

    /* light button */
    /* button {
        @apply text-black border bg-zinc-200 border-black
        hover:bg-indigo-300 rounded-md px-4 py-1
    } */

    .my-btns {
        @apply text-white border bg-indigo-600 border-indigo-500 hover:bg-indigo-500 rounded-md px-5 py-2
    }

    .my-big-btns {
        @apply text-white border text-2xl bg-indigo-600 border-indigo-500 hover:bg-indigo-500 rounded-md px-5 py-5
    }

    .each-item {
        @apply m-5 border border-gray-500 p-10 rounded-md h-[500px]
    }

    .each-image {
        @apply h-[300px] rounded-md object-cover flex justify-center
    }

    .normal-headings {
        @apply text-2xl sm:text-3xl font-bold text-center m-10
    }

    .small-headings {
        @apply text-lg sm:text-xl font-bold text-center m-5
    }

    .normal-text {
        @apply text-base sm:text-lg font-bold text-left mx-5 my-2
    }

    .cut-price {
        @apply text-lg font-bold text-center line-through
    }

    .discount_price {
        @apply text-xl font-bold text-center text-red-500
    }

    .price {
        @apply text-lg font-bold text-center
    }

    .product-detail-image {
        @apply w-5/6 lg:w-[500px] 2xl:w-[600px] h-auto rounded-md object-cover m-5
    }

    .success-text {
        @apply bg-green-600 border text-white border-white px-5 py-2 m-2 rounded-md 
    }

    .error-text {
        @apply bg-red-600 border text-white border-white px-5 py-2 m-2 rounded-md
    }

    .alert-text {
        @apply bg-yellow-200 border text-black border-white px-5 py-2 rounded-md font-bold
    }

    .links-1 {
        @apply m-1 sm:m-2 lg:m-5 text-xl font-bold text-center hover:underline hover:text-indigo-500
    }

    .my-input-fields {
        @apply border border-gray-500 rounded-md p-3 m-3 w-[300px]
    }

    .my-btns-2 {
        @apply text-black border bg-white hover:bg-gray-200 border-gray-500 rounded-md px-3 py-2
    }
}